body{display: block;margin: 0;padding: 0;background-image: url(images/bg.png);font-family: Arial,Helvetica,sans-serif;font-size: 15px;margin: 37px 0 0;}
.wrapper{margin: 0 auto;width: 960px;}
header{background-image: url(images/logo1.png); height: 139px;width: 100%; border: 1px solid;border-bottom: 0;width: 960px;position: relative;}
nav {
      background: #FEFFFE;
      height: 44px;

      padding: 0px;
      margin: 0px;

      border: 1px solid;
      width: 960px;
      border-bottom: 0;
      -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.2);
      -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.2);
      box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.2);
  }
nav ul{}
nav ul li{display: inline-block;margin-left: 158px;margin-right: 63px;}
.content{border: 1px solid;width: 960px;height: 500px;background-color: #FEFFD8;}
.side_bar
{
float: left;
  border-right: 1px solid;
  width: 200px;
  height: 500px;
}
.main_area
{
	float: right;  
    height: 486px;
    width: 759px;
}
p
{
	margin-left: 39px;
}
ul
{
	margin-left: 45px;
}
footer{

	width: 960px;
	background-color: #FEFFFE;
	border: 1px solid;
	border-top: 0;
	height: 40px;
}