@font-face
{
 font-family:"Helvetica_Light-Normal_Regular";
 src: url('Helvetica_Light-Normal_Regular.ttf');
}

body{
    margin:0;
    padding:0;
    font-family:arial, serif,sans-serif;
    background:url(../images/bgp.png) repeat-x;
}

*{
    padding:0;
    margin:0;
}
.clear{
    clear:both;
}
.header
{
    margin-bottom:20px;
}
#globleHeader{
    max-width:100%;
    /*background:linear-gradient(#1f4874,#1f2a3e);*/
    background-image: url("../images/header.png");
    box-shadow:2px 2px 9px #8fa6bd;
    height:39px;
    border-bottom:1px solid #fff;
    margin-bottom:35px;
}

.wrapper{
    max-width:960px;
    margin:auto;
}


.topBar{
    margin:0 0;
    float: right;
}

#searchbar{
    width:222px;
    height:24px;
    background:#212a32;
    float:left;
    margin-top:10px;
    /*margin-bottom:10px;*/
    border-radius:1px;
    border-top-color:#1c252c;
    /*padding-left:10px;
    padding-top:5px;*/
    color:#6e7275;
    font-style:italic;
    border-style:none;
    /*background-image:url(../images/searchIcon.png);*/
    background:#212b33;
    background-position:right;
    background-repeat:no-repeat;
}
#SearchButton
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float: left;
    height: 24px;
    padding-top: 10px;
    width: 29px;

}
#SearchButton:hover
{
    opacity:0.3; 
}
.topBar ul{
    list-style:none;
    margin-left:5px;
    float:left;
}

.topBar ul li
{
    float:left;
    background-image: url("../images/separatorNew.png");
    background-repeat: no-repeat;
    background-position: right;
}
.topBar ul li:last-child 
{
    background-image: none;
}
.separator{
    color:#000;
}
.topBar li a
{
    color: #FFFFFF;
    display: block;
    font-family: arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 15px;
    padding: 12px 20px;
    text-decoration: none;
}

.topBar li a:hover{
     text-decoration:underline;
}

.logo
{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    display: block;
    height: 75px;
    margin-bottom: 20px;
    width: 450px;
}

.navBar{
    width:100%;
    height:54px;
    background:linear-gradient(#fff,#e0e4ec);
    border-radius:4px;
    box-shadow:-1px 0px 7px #969696;
}

.navBar ul{
    list-style:none;
}
.navBar ul li 
{
    display:inline;
    float:left;
    background-image: url("../images/separatorNew.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 54px;
}
.navBar ul li a
{
   color: #333333;
    display: block;
    font-family: arial,HelveticaNeue,sans-serif;
    font-size: 14px;
    line-height: 25px;
    margin-right: 2px;
    padding: 19px 44px 14px;
    text-decoration: none;
}
.navBar ul li a:first-child
{
    padding: 14px 44px;
}
.home a
{
    background-image: url("../images/home.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 26px;
}
.navBar ul li:last-child 
{
    background-image: none;
}
/*
#navBar li #home a img{
     opacity:0.7;
}

#navBar a img:hover,#navBar a img:focus{
    opacity:1;
}*/

.navBar li a:hover,.navBar a:focus
{
    border-bottom:2px solid #00bee7;
}

.banner{
    /*height:370px;*/
    background-color:#072f52;
    border-radius:4px;
    width:960px;
    margin-bottom:20px;
}

.leftSection
{
    float: left;
    width: 440px;
    padding: 45px 85px 23px 45px;
    height: 150px;
}

.leftUpper
{
    color: #FFFFFF;
    display: block;
    font-family: arial,"Helvetica_Light-Normal_Regular",serif,sans-serif;
    font-size: 42px;
    margin-bottom: 36px;
    text-shadow: 0 -2px 1px #000000;
}
.leftMiddel
{
    margin-bottom: 22px;
    font-family:arial,"Helvetica_Light-Normal_Regular",serif,sans-serif;
    font-size: 22px;
    color:#ffffff;
    margin-bottom: 28px;
    text-shadow: 0 -2px 1px #000;
    display: block;
}
.signupButton
{
    background: linear-gradient(#FA6022, #AB380A) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-family: arial,"Helvetica_Light-Normal_Regular",serif,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -2px 1px #9C3A12;
    width: 140px;
}

#button:hover{
    background:#fa6022;
}
.rightSection
{
    float: left;
    height: 350px;
    width: 390px;
}
.rightSection img
 {
    width:100%;
    height:100%;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
/*
#rightSection ul{
    list-style:none;
    float:left;
    margin-top:290px;
    margin-left:180px;
}

#rightSection ul li{
    display:inline;
    padding:0 5px;
    float:left;
    width:25px;
    height:20px;
}

#rightSection ul li a.slider{
    text-decoration:none;
    color:#0c3;
    display:inline;
    margin:2px 4px;
}
#rightSection ul li .number{
    height:25px;
    width:25px;
    background:#ffffff;
    color:#000;
    text-decoration:none;
    border-radius:15px;
    box-shadow:2px 1px 2px #626363;
    opacity:1;
}

#rightSection ul li .number a{
    text-decoration:none;
    text-align:center;
    color:#000;
    background:#F5F5F0;
    line-height:25px;
}
*/
.container
{
    width: 960px;
    margin: 0 auto;
}


.sliderbutton{
    opacity:1;
}

.clear{
    clear:both;
}

.mainSection{
    margin-bottom:20px;
    
}
   
/*.mainSection ul{
    list-style:none;
}
*/
.rightWidgets ul li
{
    display: inline-block;
    float: left;
}
.announcement
{
    border:1px solid #cccccc;
    border-radius:6px;
    float:left;
    background:#e5f1f9;
    width: 318px;
    margin-right: 20px;
}

hr
{ 
    display: block; height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
}
.annousHeading
{
    background-image: url(../images/annouosmentBgc.png);
    height:43px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom:1px solid #ccc;
    margin-bottom: 20px;    
}
.annousHeading h3
{
    background-image: url("../images/annousmentBg.png");
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: #393939;
    font-family: arial,HelveticaNeue,sans-serif;
    font-size: 17px;
    line-height: 43px;
    padding-left: 26px;
    
}
.chapterHeading
{
     background-image: url(../images/annouosmentBgc.png);
    height:43px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom:1px solid #ccc;
    margin-bottom: 25px; 
}
.chapterHeading h3 
{
    background-image: url("../images/chapterHeding.png");
    background-position: right;
     background-repeat: no-repeat;
    border-radius: 4px;
    color: #393939;
    font-family: arial,HelveticaNeue,sans-serif;
    font-size: 17px;
    line-height: 43px;
    padding-left: 26px;
}
.annousHeading img
{
    float:right; 
    opacity:1;
}
.rightWidgets
{
    padding-left: 19px;
    padding-right: 22px;
}
.imageWrapper
{
    float: left;
    margin-right: 15px;
}
.imageWrapper img
{
    
}
.inforWrapper
{
    float: left;
    margin-bottom: 30px;
    width: 180px;
}
.date
{
  color: #888888;
    display: block;
    font-family: Helvetica,SANS-SERIF;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 10px;
}
.announce 
{
    color: #000000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
}
.announce a
{
    text-decoration:none;
    color:#000;
}
.announce a:hover
{
    text-decoration: underline;
}
.annDesc
{
    color:#888888;
    float:right;
    font-size:13px;
    margin-bottom: 16px;
    font-family: arial,Helvetica;
}
.learnButton{
     background: linear-gradient(#FDFDFD, #D2D2D2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B8B8B8;
    border-radius: 4px;
    color: #333333;
    font-family: arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 19px;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    width: 98px;
    
}
.learnButton a:hover
{
    text-decoration: underline;
}
/*.mainSection ul li
{
    display:inline-block;
    float:left;
}*/
.chapter
{
    background: none repeat scroll 0 0 #E5F1F9;
    border: 1px solid #CCCCCC;
    border-radius: 7px;
    float: left;
    width: 617px;
}
.chapterHeading img
{
    float: left;
    opacity: 1;
   /* padding-left: 26px;*/
}

#citySearch{
    width:570px;
    height:30px;
    border:1px solid #7faac5;
    border-radius:4px;
    margin: 0 25px 8px;
    }

input{
    background-image:url(../images/maplocsearch.png);
    background-repeat:no-repeat;
    background-position:right;
}
#mapView img{
   height: 370px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    width: 570px;
}

.overlayimage{
   position: absolute;
   top: 800px;
   right: 515px;
}

#mapView  span{
    color: #666666;
    display: block;
    float: left;
    font-size: 0.9em;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 11px;
}

#map{
    background-image:url(../images/citylabel.png);
    background-repeat:no-repeat;
    background-position:center;
}
.rightButton{
    background: linear-gradient(#FA6022, #AB380A) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #813516;
    border-radius: 4px;
    float: left;
    height: 40px;
    margin-bottom: 17px;
    margin-left: 175px;
    width: 155px;
}
.rightButton a{
    color:#fff;
    font-size:0.8em;
    line-height:40px;
    text-decoration:none;
    text-align:center;
    padding: 11px 11px;
    text-shadow: 0 -2px 1px #9c3a12;
}
/*
.rightButton a:hover{
    background:#fa6022;
    border:1px solid #fa6022;
}*/
.clear{
    clear:both;
}

#containerEvents{
    float:left;
    width:960px;
    height:390px;
    border:1px solid #cccccc;
    border-radius:4px;
    background:#e5f1f9;
    background-image:url(images/wrapperbg.png) no-repeat 0 0;
}

/*#containerEvents h3{
    
}*/
#containerEvents ul{
    list-style:none;
}

.eventsHeading{
   background-image: url("../images/annouosmentBgc.png");
    border-bottom: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 45px;
    margin-bottom: 30px;
}
.eventsHeading h3
{
   border-radius: 4px;
    color: #393939;
    font-family: arial,Helvetica_Light-Normal_Regular,sans-serif;
    font-size: 16px;
    padding: 13px 0 10px 26px;
    float: left;
}
.eventsHeading img
{
    
    float:right;
    opacity:1;   
}
#containerEvents ul li{
    float:left;
    margin-left:10px;
}

#clicks{
    margin-top:145px;
    margin-left: 5px;
}

.rightclick:hover,.leftclick:hover{
    opacity:0.5;
}

.carousel{
    width:205px;
    height:280px;
    float:left;
    border:1px solid #cccccc;
    border-radius:4px;
    margin-left:3px;
    margin-right:3px;
    background:#ffffff;
}
.carousel img{
    margin-left: 13px;
    margin-top:7px;
}

.carousel h4{
    color:#0078ac;
    padding-top:5px;
    padding-left: 14px;
    font-size: 16px;
    font-family: arial,Helvetica;
}

.carousel h5{
    color:#999999;
    padding-top:5px;
    padding-left:14px;
    font-size: 12px;
    font-family: arial,HelveticaNeue;
}

.carousel p
{
    color: #989898;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 10px;
}

.maplink a{
    color:#0078ac;
    text-decoration:none;
}
.desc{
    padding-top:5px;
    padding-left:0;
    padding-right:0;
    color:#333333;
    font-size: 14px;
    font-family: arial,Helvetica;
    font-weight: bolder;
}
.strong{
    color:#333333;
    font-size: 14px;
    font-family: arial,Helvetica;
    font-weight: bolder;
}

.afooter a{
    color:#0078ac;
    text-decoration:none;
    margin-top:10px;

}

.afooter a:hover{
    text-decoration:underline;
}

.clear{
    clear:both;
}

#footer{
   background:#292a2f;
   max-width:100%;
   height:400px;
   margin-top:38px;
}

#links{
    max-width:960px;
    margin:auto;
    padding-top:30px;
}

.innerLinks{
    margin-top:5px;
    
}

.innerLinks ul li p{
    color:#979799;
    font-size:1em;
}

.innerLinks ul{
    list-style:none;
}

.innerLinks ul li{
    display:inline-block;
}

.innerLinks ul li a{
    text-decoration:none;
    color:#0096d6;
    padding-left:12px;
    font-size:0.9em;
}

.innerLinks ul li a:hover{
    text-decoration:underline;
}

.backslash{
    padding-left:9px;
    color:#37383c;
}

#socialLinks{
    
    height: 55px;
    margin-top: 40px;
    background: url("../images/bg_social_footer.png");
    background-repeat: no-repeat;
    background-position: center;
}

#icons{
    margin-left: 627px;
}

#icons ul li{
    float:left;
    display:inline-block;
    padding:10px;
    text-align:center;
}

#icons ul li img{
    opacity:0.5;
}

#icons ul li img:hover{
    opacity:1;
}
#lowerfooter{
    padding: 30px 0 10px 507px;
}
#lowerfooter ul{
    list-style:none;
    float:left;
}
 #lowerfooter ul li{
    float:left;
}
.dot{
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: 800;
}
#lowerfooter ul li:last-child:after{
    content:none;
}
#lowerfooter li a{
    text-align:center;
    padding:5px;
    text-decoration:none;
    color:#0096d6;
    font-size:0.9em;
}

#lowerfooter li a:hover{
    text-decoration:underline;
}

#description{
    margin-top:10px;
    padding-top:10px;
}

#description p{
    text-align: center;
    color: #fff;
    font-size: 12px;
    display: block;
    font-family: arial,Helvetica,sans-serif;
}

#description .hl{
    color:#0096d6;
}

#description .hl a{
    color:#0096d6;
    text-decoration:none;
}

#description .hl a:hover{
    text-decoration:underline;
}

#lowerfooter li .sd{
    padding:5px;
    color:#fff;
}
