html { 
  background: url("../images/bg.png") no-repeat center center /*fixed*/; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*
{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.gHeader
{
    background-image: url("../images/header-bg.png");
    background-repeat: repeat-x;;
    height: 40px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 35px;
}
.wrapper
{
	margin: 0px auto;
	width: 960px;
}
.hederBlock
{
    float: right;
}
#search
{
    float: left;
    background-image: url("../images/search-bg.png");
    border: 1px solid #1C252C;
    border-radius: 7px;
    color: #5a6064;
    height: 25px;
    width: 220px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#button
{
    background-image: url("../images/searchButton.png");
    background-repeat: no-repeat;
    float: left;
    border: 1px solid #1C252C;
    border-radius: 7px;
    height: 25px;
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.hederBlock ul
{
    float: left;
    padding-right: 20px;
    padding-top: 5px;
}
.hederBlock ul li 
{
    display: inline-block;
    padding-left: 15px;
    background-image: url("../images/pipe.png");
    background-repeat: no-repeat;
    background-position: left;
}
.hederBlock ul li:first-child
{
     background-image: none;
}
.hederBlock ul li a
{
    color: #ffffff;
    font-family: arial, Helvetica;
    font-size: 11px;
}

#logo
{
    margin-bottom: 20px;
}
#logo a
{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    height: 75px;
    width: 440px;
    display: block;
}
#logo
{
    margin-bottom: 20px;
}
.nav
{
    width: 960px;
    height: 54px;
    background-image: url("../images/navbar-bg.png");
    border-radius: 5px;
}
.nav ul{
   margin: 0;
   padding: 0;
   list-style-type: none;
}
.nav ul li
{
     background-image: url("../images/seprater.png");
    background-position: right 13px;
    background-repeat: no-repeat;
    float: left;
    height: 53px;
    margin-bottom: 1px;
    text-align: center;
    width: 220px;
}
.nav ul li a
{
     display: block;
     text-decoration: none;
     color: #727374;
}

.nav ul li:first-child
{
    width: 80px;
    background-position: right 12px;
    margin-top: 0px;
}
.home a 
{
    display: block;
    height: 54px;
}
.home a img 
{
    margin-top: 14px;
}
.others
{

}
.others a 
{
     padding: 17px;
}
.nav ul li:last-child {
    background-image: none;
}
/*.nav-bar ul li img {
    padding-bottom: 15px;
    padding-right: 7px;
    padding-top: 7px;
    padding-right: 9px;

}*/
.nav ul li:hover{
   border-bottom : 2px solid #00c0e8;
}
.nav-bar ul li span:first-child{
    display: none;
}
.slider{
    background-image: url("../images/left-content-bg.png");
    width: 960px;
    height: 349px;
    margin-top: 20px;
}
.left-slider
{
    background-image: url("../images/cloud.png");
    width: 390px;
    height: 349px;
    float: right;
}
.right-area
{
    float: left;
}
.headFisrt
{
    color: #FFFFFF;
    font-family: arial,helvetica,serif;
    font-size: 38px;
    margin-left: 45px;
    padding-top: 47px;
    width: 419px;
    padding-bottom: 41px;
    text-shadow:1px 1px #FF0000;
}
.Title
{
     color: #FFFFFF;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: lighter;
    margin-left: 45px;
    width: 409px; 
    
}
#submitButton
{
    background-color: #b13b0c;
    margin-left: 45px;
    border: none;
    border-radius: 4px;
    width: 141px;
    height:37px;
    color: #FFFFFF;
    margin-top: 28px;
    background: linear-gradient(#f65e20,#ad390b);
}
/*.right-area input
{
    background-color: #b13b0c;margin-left: 56px;border: none;border-radius: 4px;width: 141px;height:37px;color: #FFFFFF;margin-top: 28px;
}*/
.left-slider ul{
    float: inherit;
    height: 31px;
    padding-right: 32px;
    padding-top: 291px;
}
.left-slider ul li {
    display: inline-block;
}
.next-button
{
    background-image: url("../images/next-button.png");
    background-repeat: no-repeat;
    height: 23px;
    width: 13px;
}
.pre-button
{
     background-image: url("../images/pre-button.png");
     background-repeat: no-repeat;
     height: 23px;
    width: 16px;
}
.first-nav
{
    background-image: url("../images/first-nav.png");
    background-repeat: no-repeat;
    height: 29px;
    width: 28px;
}
.second-nav
{
    background-image: url("../images/third-nav.png");
    background-repeat: no-repeat;
    height: 29px;
    width: 30px;
}
.third-nav
{
     background-image: url("../images/second-nav.png");
    background-repeat: no-repeat;
     height: 29px;
    width: 30px;
}
.left-slider ul li a span {
    display: none;
}
.left-section
{
    float: left;
    width: 320px;
    border: 1px solid #cccccc;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #EAF4FA;
}
.right-section
{
    float: right;
    width: 620px;
    border: 1px solid #cccccc;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #e2f0f8;
}
.left-heading
{
    background-image: url("../images/headingLeft.png");
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 43px;
    width: 320px;
    border-bottom: 1px solid #cccccc;
  
}
.left-heading h3
{
    color: #333333;
    padding: 9px 27px;
}
.right-heading
{
    background-image: url("../images/headingLeft.png");
    background-repeat: repeat-x;
    width: 620px;
    height: 43px;
    border: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-radius: 4px;
}
.right-heading h3
{
    color: #333333;
    padding: 9px 27px;
}
.clear
{
    clear: both;
}
.arrow-left
{
    
}
.left-content ul {
     margin: 0 0 30px;
}
.left-content ul li {
   display: inline-block;
   /*padding-bottom: 23px;*/
    padding-top: 20px;
      padding-left: 15px;
}
.image {

    float: left;
    width: 97px;
}
.image img {
     height: 83px;
    width: 80px;
}
.image-content {

    float: right;
    /*height: 133px;*/
    width: 166px;
}
.image-content h4 {
    margin: 0;
    color: #999a9b;
}
.image-content h3 a{
     margin: 0;
    padding-top: 14px;
    text-decoration: none;
    color: #000;
}
.image-content h3 a:hover
{
text-decoration: underline;

}
.image-content h5{
    margin: 0;
    padding-top: 12px;
    color: #666666;
}
.learn
{
    border: 2px solid #b8b8b8;
    height: 18px;
    margin-top: 10px;
    width: 92px;
    border-radius: 4px;
}
.learn a{
    font-size: 10px;
    padding-left: 11px;
    text-decoration: none;
    display: block;
    line-height: 19px;
}
.learn a:hover{
    text-decoration: underline;
}
.image-content input {
  border: 3px solid #B8B8B8;
    border-radius: 7px;
    font-size: 10px;
    height: 21px;
    margin: 15px 0 0;
    text-align: center;
    width: 92px;

}
.right-content
{
    padding-bottom: 41px;
}
.right-content input {
    border: 1px solid #7FAAC5;
    border-radius: 4px;
    height: 31px;
    margin-left: 25px;
    margin-top: 25px;
    width: 567px;
}
.right-content img {
    height: 417px;
    padding-left: 25px;
    padding-top: 8px;
    width: 566px;
}
.right-content h3{
    padding-left:25px;
    color: #666666; 
    float: left;
}
.right-content #button{
    float: right;
}
.chapbutton{
    background: linear-gradient(#FA6022, #AB380A) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #813516;
    border-radius: 4px;
    float: right;
    height: 40px;
    margin: 7px 23px 15px 133px;
    width: 155px;
}

.chapbutton a{
 color: rgb(255, 255, 255);
font-size: 0.8em;
line-height: 40px;

text-align: start;
text-decoration: inherit;
padding: 13px 10px;
}
.right-content p{
    color: #666666;
    float: left;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 27px;
}
.col{
    width: 960px;
    border-radius: 7px;
    border: 1px solid #cccccc;
    margin-top: 20px;
    border-top: none;
}
.col-heading
{
    background-image: url("../images/events-heading.png");
    width: 960px;
    height: 45px;
    border-bottom: 1px solid #cccccc;
    border-left: none;
    border-right:none; 

}
/*.events ul{
    margin: 0;
    margin-top: 30px;
}
.li 
{
   background-color: #666666;
    display: inline-block;
    padding-right: 15px;
    width: 200px

}
.first-li
{
    display: inline-block;
}
.last-li{
    display: inline-block;
}*/
.slider-footer{
  background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    height: 330px;
    padding-bottom: 46px;
    width: 960px;
}
.slider-footer ul{
/*margin-left: 39px;*/

}
/*.slider-footer ul li{
   background-color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    margin-top: 30px;
    width: 208px;
}*/
/*.slider-footer ul li img
{
    padding-bottom: 20px;
    padding-left: 9px;
    padding-top: 6px;
}*/
/*.slider-footer ul li h3{
    margin: 0;
    padding-bottom: 6px;
    padding-left: 9px;
    color: #428eb8;
}*/
/*.slider-footer ul li span{
    padding-left: 9px;
}*/
/*.slider-footer ul li h4{
    margin: 0;
    padding-bottom: 18px;
    padding-left: 9px;
    color: #b8b8b8;
}*/
/*.slider-footer ul li a{
    padding-left: 9px;
}*/
/*.slider-footer ul li b {
    padding-left: 9px;
}*/
.footer
{
background-image: url("../images/footer-bg.png");
background-repeat: repeat-x;
}
.footer-wrapper
{
    
    margin: 63px auto;
    padding-top: 32px;
    width: 960px;
}
.footer-wrapper ul{
}
.footer-wrapper ul li {
    display: inline;
}
.footer-wrapper ul li h3
{
    color: #979799;
}
.footer-wrapper ul li h3 a 
{
    font-size: 14px;
    text-decoration: none;
}
.footer-wrapper ul li h3 a:hover
{
    text-decoration: underline;
}
.footer-wrapper ul li h3 span
{
    color: #39393e;
}
.footer-wrapper img
{
     background-image: url("images/footer_icon.png");
    background-repeat: no-repeat;
    height: 120px;
    margin-left: 167px;
    opacity: 0.5;
}
.footer-wrapper img:hover{
    opacity:1.0;
}
.last-icon ul
{
    margin: 0;
    text-align: center;
}
.last-icon ul li:before
{
    color: #FFFFFF;
    content: ".";
    font-size: 42px;
    padding-bottom: 115px;
    text-align: center;
}
.last-icon ul  li:first-child:before{
         content: none;
}
.last-icon ul li a{

    text-decoration: none;
}
.last-icon ul li a:hover{
    text-decoration: underline;
}
.last-icon ul li
{
    color: #0096d6;
}
.last-icon h4{
    color: #ffffff;
    text-align: center;
}
.last-icon h4 a {
    text-decoration: none;
} 
.last-icon h4 a:hover {
    text-decoration: underline;
} 
.left-arrow{
    background: url("../images/first-li.png") no-repeat ;
    float: left;
    height: 100%;
    margin-left: 19px;
    margin-top: 130px;
    width: 30px;
    top:120px;
}
.right-arrow
{
    background-image: url("../images/last-li.png");
    background-repeat: no-repeat;
    float: left;
    height: 100%;
    margin-top: 130px;
    width: 14px
}
.div-inner
{
    width: 882px;
    float: left;
}
.div-inner ul
{

}
.div-inner ul li {
    background-color: #FFFFFF;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
    width: 208px;
    height: 319px;

}
.div-inner ul li img
{
   padding: 9px 9px 21px;
}
.div-inner ul li h3 {
    margin: 0;
    padding-bottom: 6px;
    padding-left: 9px;
    color: #428eb8;
}
/*.div-inner ul li span{
    padding-left: 9px;
    /*color: #449cc2;*/
}*/
.div-inner ul li h4{
    margin: 0;
    padding-bottom: 18px;
    padding-left: 9px;
    color: #8f8f8f;
}
.div-inner ul li h4 b {
    color: #000;
}
.div-inner ul li  a{
    /*padding-left: 9px;*/
    text-decoration: none;
}
.div-inner ul li  a:hover
{
    text-decoration: underline;
}
.cityName
{
    margin: 0;
    padding-bottom: 5px;
    padding-left: 9px;
    
}
.cityName a {
    color: #0078ac;
}
.date{
    color: #8F8F8F;
   /* margin: 0;*/
    padding-bottom: 14px;
    padding-left: 9px;
}
.place{
      padding-left: 9px;
      color: #449cc2;
      padding-bottom: 8px;
}
.place strong
 {
    color: #333333;
 }
 .place a 
 {
    color: #0078ac;
 }
 .desc
 {
    margin: 0;
    padding-bottom: 18px;
    padding-left: 9px;
    color: #8f8f8f;
    display: block;
    font-family: arial,helvetica;
    font-size: 14px;
 }
 .desc strong {
    color: #333333;
 }
 .read
 {
    padding-bottom: 21px;
    padding-left: 11px;
    font-family: arial,helvetica;
    font-size: 14px;
 }
 .read a 
 {
    font-family: arial,helvetica;
    font-size: 14px;

 }